.App {
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: block;
  max-width: 400px;
  min-height: 700px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {
  bottom: 0;
  /* left: 0; */
  position: fixed; 
  width:100%;
  background-color: var(--primary);
  padding: 15px 0px;
  margin-left: -1px;
  max-width: 400px;
}

.App-toolbar{
  /* width:100%; */
  position: relative;
  /* margin: 0 15px; */

}
.App-toolbar .btn{
  background: transparent;
  width: 33%;
}

.App-toolbar .btn i{
  font-size: 22px;
  color: #fff;
}

.App-toolbar .btn-group{
  display: flex;
  justify-content: space-between;
}




button{
  outline: none;
  border: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo-image {
  width: 100%;
  left: 50%;
  margin-top: 25%;
  max-width: 300px;
  /* transform: translateX(-50%); */
}